.list-item {
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #ddd;
  margin: 25px;
  display: flex;
  border-radius: 15px;
  background-color: white;
}
.avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.user-details {
  flex-grow: 1;
  text-align: initial;
  padding-left: 10px;
  align-items: center;
}

.details-btn {
  align-self: flex-end;
  background-color: white;
  outline: none;
  border: 1px solid #147abc;
  padding: 7px 18px;
  color: #147abc;
  border-radius: 7px;
  cursor: pointer;
}
